*pyc
docs/build
docs/source/_static
src/ddf_examples/htmlcov/
src/ddf_examples/node_modules
src/ddf_examples/.coverage
build
dist
ddf.egg-info/
*swp
docs/docs
__pycache__
*.mo
test_env/
.coverage
.tox

.cache/

# Pycharm
.idea/
