{% extends 'admin/base_site.html' %}

{% block branding %}
<h1>Facond with Django demo{% if view.example %} of: {{ view.example }}{% endif %}</h1>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="/">Home</a>
    {% block title %}{% endblock %}
    </div>
{% endblock %}

{% block content %}
<div style="display: inline-block; width: 49%; vertical-align:top;">
    <h2>Welcome to django-dynamic-fields demo project !</h2>
    <p>
        Here are a number of example apps which you can test manually, or let
        robots do the work and run ./manage.py test.
    </p>
    <ul>
        {% for example in examples %}
        <li>
            <a
                href="{% url 'form' example %}"
                >{{ example|capfirst }}</a>
        </li>
        <li>
            <a
                href="{% url 'formset' example %}"
                >{{ example|capfirst }} formset</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div style="display: inline-block; width: 49%; vertical-align:top;">
    <h2>Need help ?</h2>
    <p>
        If you can reproduce a bug in the demo project, it will be made a
        priority to fix it, and add regression test to prevent it from occuring
        again in the future. In this case, please clone the
        <a
            href="https://github.com/yourlabs/django-dynamic-fields"
            title="Make django forms dynamic !"
        >Repository</a>, configure the simplest example you can in a new app in
        test_facond_project and submit your pull request.
    </p>
    <p>
        The easier you make it for us to reproduce your issue in an isolated
        use-case, the best are your chances to have a satisfying answer.
    </p>
    <p>
        Also, consider <a href="https://hackhands.com/jpic">paid support</a>
        for django-dynamic-fields and Django in general !
        <!-- contributors please submit a PR to add your URL here -->
    </p>
    <h2>Dual license</h2>
    <p>
        This app is dual-licensed like django-suit: consider it free for open
        source and non-profit, but please buy a commercial license for
        commercial use. The money goes to YourLabs, a non-profit foundation to
        promote the role of hackers in the process of making our society more
        fair and free, while using their skills to develop local economy and
        give internet back to the people.
    </p>
</div>
{% endblock %}
